@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.header-nav {
    position: absolute;
}
.section1 {

}
.section2 {

}
.section3 {

}