@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.outfit {
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position : fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid grey;
}
.section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.section2 {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap:40px;
}

.section2 > div{
  position: relative;
  text-align: center;
  padding: 40px;
}
.section2 > div::after{
  content: "";
  position: absolute;
  left:50%;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: translateX(-50%);
  width: 85%;

}
.bot-border > p{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.section3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.bot-border {
    position: relative;
    display: inline-block;
    gap : 15px;
}
.bot-border::after {
    content: "";
    position: absolute;
    left: -1000px;
    right: -1000px;
    bottom: 0;
    border-bottom: 2px solid grey;
}
button {
    background-color: rgb(225, 173, 1);
    border : none;
    border-radius: 3px;
}
